:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #808080;
    --link-ativo: #333333;
    --cor-fundo: #6D2932;
    --cor-vermelho: #8d0606;
    --fonte-primaria: Pacifico, cursive;

}



